In [1]:
import pandas as pd
from pathlib import Path

In [2]:
crime_data = Path("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv")

In [3]:
df = pd.read_csv(crime_data)

In [4]:
df.head()

,CASE_NUMBER,DATE,BLOCK,VICTIMIZATION_PRIMARY,INCIDENT_PRIMARY,GUNSHOT_INJURY_I,UNIQUE_ID,ZIP_CODE,WARD,COMMUNITY_AREA,...,MONTH,DAY_OF_WEEK,HOUR,LOCATION_DESCRIPTION,STATE_HOUSE_DISTRICT,STATE_SENATE_DISTRICT,UPDATED,LATITUDE,LONGITUDE,LOCATION
0,JF167335,03/08/2022 03:27:00 PM,6000 N KENMORE AVE,HOMICIDE,HOMICIDE,NO,HOM-JF167335-#1,60660.0,48.0,EDGEWATER,...,3,3,15,APARTMENT,14.0,7.0,02/24/2023 05:55:43 AM,41.990570,-87.657000,POINT (-87.657 41.9905705)
1,JB114490,01/13/2018 01:25:00 AM,900 W 114TH PL,BATTERY,BATTERY,YES,SHOOT-JB114490-#1,60643.0,34.0,MORGAN PARK,...,1,7,1,RESIDENCE,27.0,14.0,02/24/2023 05:21:36 PM,41.686260,-87.645999,POINT (-87.645998547471 41.686259668947)
2,HP340136,05/16/2008 11:46:00 PM,9200 S RACINE AVE,HOMICIDE,HOMICIDE,YES,HOM-HP340136-#1,60620.0,21.0,WASHINGTON HEIGHTS,...,5,6,23,ALLEY,27.0,14.0,02/24/2023 06:19:54 AM,41.725738,-87.653193,POINT (-87.653193208699 41.725738134142)
3,JF293080,06/25/2022 12:41:00 AM,2100 W 36TH ST,HOMICIDE,HOMICIDE,YES,HOM-JF293080-#1,60609.0,12.0,MCKINLEY PARK,...,6,7,0,STREET,2.0,1.0,02/24/2023 06:25:39 AM,41.829167,-87.678072,POINT (-87.678071547471 41.829167018947)
4,JG150300,02/12/2023 05:57:00 PM,400 E 83RD ST,HOMICIDE,HOMICIDE,YES,HOM-JG150300-#1,60619.0,6.0,CHATHAM,...,2,1,17,RESTAURANT,34.0,17.0,02/24/2023 08:40:20 AM,41.744500,-87.614479,POINT (-87.614478547471 41.744499668947)

In [5]:
del df['UPDATED']
del df['LONGITUDE']
del df['LATITUDE']
del df['LOCATION']
del df['STATE_HOUSE_DISTRICT']
del df['STATE_SENATE_DISTRICT']
del df['HOMICIDE_VICTIM_FIRST_NAME']
del df['HOMICIDE_VICTIM_MI']
del df['HOMICIDE_VICTIM_LAST_NAME']
del df['ZIP_CODE']
del df['BLOCK']
del df['UNIQUE_ID']
del df['WARD']
del df['INCIDENT_IUCR_SECONDARY']
del df['VICTIMIZATION_FBI_DESCR']
del df['INCIDENT_FBI_DESCR']
del df['VICTIMIZATION_FBI_CD']
del df['INCIDENT_FBI_CD']
del df['VICTIMIZATION_IUCR_CD']
del df['INCIDENT_IUCR_CD']
       
df.head()

,CASE_NUMBER,DATE,VICTIMIZATION_PRIMARY,INCIDENT_PRIMARY,GUNSHOT_INJURY_I,COMMUNITY_AREA,STREET_OUTREACH_ORGANIZATION,AREA,DISTRICT,BEAT,AGE,SEX,RACE,VICTIMIZATION_IUCR_SECONDARY,MONTH,DAY_OF_WEEK,HOUR,LOCATION_DESCRIPTION
0,JF167335,03/08/2022 03:27:00 PM,HOMICIDE,HOMICIDE,NO,EDGEWATER,NaN,3.0,24.0,2433.0,60-69,M,BLK,FIRST DEGREE MURDER,3,3,15,APARTMENT
1,JB114490,01/13/2018 01:25:00 AM,BATTERY,BATTERY,YES,MORGAN PARK,NaN,2.0,22.0,2234.0,0-19,M,BLK,AGGRAVATED - HANDGUN,1,7,1,RESIDENCE
2,HP340136,05/16/2008 11:46:00 PM,HOMICIDE,HOMICIDE,YES,WASHINGTON HEIGHTS,Acclivus Washington Heights,2.0,22.0,2222.0,40-49,M,BLK,FIRST DEGREE MURDER,5,6,23,ALLEY
3,JF293080,06/25/2022 12:41:00 AM,HOMICIDE,HOMICIDE,YES,MCKINLEY PARK,Envision McKinley Park,1.0,9.0,912.0,30-39,M,WWH,FIRST DEGREE MURDER,6,7,0,STREET
4,JG150300,02/12/2023 05:57:00 PM,HOMICIDE,HOMICIDE,YES,CHATHAM,NaN,2.0,6.0,631.0,20-29,M,BLK,FIRST DEGREE MURDER,2,1,17,RESTAURANT

In [6]:
df.count()

CASE_NUMBER                     56703
DATE                            56703
VICTIMIZATION_PRIMARY           56703
INCIDENT_PRIMARY                56703
GUNSHOT_INJURY_I                56703
COMMUNITY_AREA                  56698
STREET_OUTREACH_ORGANIZATION    41552
AREA                            56698
DISTRICT                        56698
BEAT                            56698
AGE                             56703
SEX                             56703
RACE                            56703
VICTIMIZATION_IUCR_SECONDARY    48298
MONTH                           56703
DAY_OF_WEEK                     56703
HOUR                            56703
LOCATION_DESCRIPTION            56703
dtype: int64

In [7]:
df = df.dropna(how='any')

In [8]:
df.count()

CASE_NUMBER                     35768
DATE                            35768
VICTIMIZATION_PRIMARY           35768
INCIDENT_PRIMARY                35768
GUNSHOT_INJURY_I                35768
COMMUNITY_AREA                  35768
STREET_OUTREACH_ORGANIZATION    35768
AREA                            35768
DISTRICT                        35768
BEAT                            35768
AGE                             35768
SEX                             35768
RACE                            35768
VICTIMIZATION_IUCR_SECONDARY    35768
MONTH                           35768
DAY_OF_WEEK                     35768
HOUR                            35768
LOCATION_DESCRIPTION            35768
dtype: int64

In [9]:
df.to_csv("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv", index=False)