In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
crime_data = Path("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv")
crime_data_df = pd.read_csv("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv")
df = pd.read_csv(crime_data)
df.head()

,CASE_NUMBER,DATE,VICTIMIZATION_PRIMARY,INCIDENT_PRIMARY,GUNSHOT_INJURY_I,COMMUNITY_AREA,STREET_OUTREACH_ORGANIZATION,AREA,DISTRICT,BEAT,AGE,SEX,RACE,VICTIMIZATION_IUCR_SECONDARY,MONTH,DAY_OF_WEEK,HOUR,LOCATION_DESCRIPTION
0,HP340136,5/16/08,HOMICIDE,HOMICIDE,YES,WASHINGTON HEIGHTS,Acclivus Washington Heights,2,22,2222,40-49,M,BLK,FIRST DEGREE MURDER,5,6,23,ALLEY
1,JF293080,6/25/22,HOMICIDE,HOMICIDE,YES,MCKINLEY PARK,Envision McKinley Park,1,9,912,30-39,M,WWH,FIRST DEGREE MURDER,6,7,0,STREET
2,JG147400,2/10/23,HOMICIDE,HOMICIDE,YES,SOUTH SHORE,Claretian Associates South Shore,1,3,334,30-39,M,BLK,FIRST DEGREE MURDER,2,6,10,APARTMENT
3,JG214225,4/7/23,HOMICIDE,HOMICIDE,YES,WEST GARFIELD PARK,READI 60624 | INVC West Garfield Park,4,11,1113,20-29,M,BLK,FIRST DEGREE MURDER,4,6,12,STREET
4,JC293192,6/5/19,BATTERY,BATTERY,YES,CHICAGO LAWN,SWOP Chicago Lawn,1,8,825,20-29,M,BLK,AGGRAVATED - HANDGUN,6,4,13,OTHER (SPECIFY)

In [4]:
x_axis = np.arange(len(crime_data_df))
tick_locations = [value+0.4 for value in x_axis]