In [1]:
import pandas as pd
from pathlib import Path

In [2]:
crime_data = Path("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv")

In [3]:
df = pd.read_csv(crime_data)

In [4]:
df.head()

,CASE_NUMBER,DATE,VICTIMIZATION_PRIMARY,INCIDENT_PRIMARY,GUNSHOT_INJURY_I,COMMUNITY_AREA,STREET_OUTREACH_ORGANIZATION,AREA,DISTRICT,BEAT,AGE,SEX,RACE,VICTIMIZATION_IUCR_SECONDARY,MONTH,DAY_OF_WEEK,HOUR,LOCATION_DESCRIPTION
0,JG147400,2/10/23,HOMICIDE,HOMICIDE,YES,SOUTH SHORE,Claretian Associates South Shore,1,3,334,30-39,M,BLK,FIRST DEGREE MURDER,2,6,10,APARTMENT
1,JG214225,4/7/23,HOMICIDE,HOMICIDE,YES,WEST GARFIELD PARK,READI 60624 | INVC West Garfield Park,4,11,1113,20-29,M,BLK,FIRST DEGREE MURDER,4,6,12,STREET
2,JD204846,4/8/20,BATTERY,BATTERY,YES,AUSTIN,INVC Austin,5,25,2532,20-29,M,BLK,AGGRAVATED - HANDGUN,4,4,14,STREET
3,JD204846,4/8/20,BATTERY,BATTERY,YES,AUSTIN,INVC Austin,5,25,2532,20-29,M,BLK,AGGRAVATED - HANDGUN,4,4,14,STREET
4,JD382340,9/28/20,BATTERY,BATTERY,YES,AUSTIN,INVC Austin,5,25,2532,UNKNOWN,UNKNOWN,UNKNOWN,AGGRAVATED - HANDGUN,9,2,17,STREET

In [5]:
df.count()

CASE_NUMBER                     18803
DATE                            18803
VICTIMIZATION_PRIMARY           18803
INCIDENT_PRIMARY                18803
GUNSHOT_INJURY_I                18803
COMMUNITY_AREA                  18803
STREET_OUTREACH_ORGANIZATION    18803
AREA                            18803
DISTRICT                        18803
BEAT                            18803
AGE                             18803
SEX                             18803
RACE                            18803
VICTIMIZATION_IUCR_SECONDARY    18803
MONTH                           18803
DAY_OF_WEEK                     18803
HOUR                            18803
LOCATION_DESCRIPTION            18803
dtype: int64

In [6]:
df = df.dropna(how='any')

In [7]:
df.count()

CASE_NUMBER                     18803
DATE                            18803
VICTIMIZATION_PRIMARY           18803
INCIDENT_PRIMARY                18803
GUNSHOT_INJURY_I                18803
COMMUNITY_AREA                  18803
STREET_OUTREACH_ORGANIZATION    18803
AREA                            18803
DISTRICT                        18803
BEAT                            18803
AGE                             18803
SEX                             18803
RACE                            18803
VICTIMIZATION_IUCR_SECONDARY    18803
MONTH                           18803
DAY_OF_WEEK                     18803
HOUR                            18803
LOCATION_DESCRIPTION            18803
dtype: int64

In [8]:
df.columns

Index(['CASE_NUMBER', 'DATE', 'VICTIMIZATION_PRIMARY', 'INCIDENT_PRIMARY',
       'GUNSHOT_INJURY_I', 'COMMUNITY_AREA', 'STREET_OUTREACH_ORGANIZATION',
       'AREA', 'DISTRICT', 'BEAT', 'AGE', 'SEX', 'RACE',
       'VICTIMIZATION_IUCR_SECONDARY', 'MONTH', 'DAY_OF_WEEK', 'HOUR',
       'LOCATION_DESCRIPTION'],
      dtype='object')

In [9]:
df = df[df.COMMUNITY_AREA != 'MCKINLEY PARK']
df = df[df.COMMUNITY_AREA != 'WASHINGTON HEIGHTS']
df = df[df.COMMUNITY_AREA != 'NEW CITY']
df = df[df.COMMUNITY_AREA != 'SOUTH DEERING']
df = df[df.COMMUNITY_AREA != 'HUMBOLDT PARK']
df = df[df.COMMUNITY_AREA != 'CHICAGO LAWN']
df = df[df.COMMUNITY_AREA != 'ROGERS PARK']
df = df[df.COMMUNITY_AREA != 'CHATHAM'] 
df = df[df.COMMUNITY_AREA != 'BURNSIDE']
df = df[df.COMMUNITY_AREA != 'AUBURN GRESHAM']
df = df[df.COMMUNITY_AREA != 'BRIGHTON PARK']
df = df[df.COMMUNITY_AREA != 'SOUTH CHICAGO']
df = df[df.COMMUNITY_AREA != 'BELMONT CRAGIN']
df = df[df.COMMUNITY_AREA != 'ROSELAND']
df = df[df.COMMUNITY_AREA != 'EAST SIDE']
df = df[df.COMMUNITY_AREA != 'DOUGLAS']
df = df[df.COMMUNITY_AREA != 'GRAND BOULEVARD']
df = df[df.COMMUNITY_AREA != 'GAGE PARK']
df = df[df.COMMUNITY_AREA != 'HERMOSA']
df = df[df.COMMUNITY_AREA != 'HYDE PARK']
df = df[df.COMMUNITY_AREA != 'HEGEWISCH']
df = df[df.COMMUNITY_AREA != 'AVONDALE']
df = df[df.COMMUNITY_AREA != 'ALBANY PARK']
df = df[df.COMMUNITY_AREA != 'ASHBURN']
df = df[df.COMMUNITY_AREA != 'FULLER PARK']
df = df[df.COMMUNITY_AREA != 'NEAR WEST SIDE']
df = df[df.COMMUNITY_AREA != 'ROGERS PARK']
df = df[df.COMMUNITY_AREA != 'LOGAN SQUARE']
df = df[df.COMMUNITY_AREA != 'WEST ELSDON']
df = df[df.COMMUNITY_AREA != 'SOUTH LAWNDALE']
df = df[df.COMMUNITY_AREA != 'WEST TOWN']
df = df[df.COMMUNITY_AREA != 'CALUMET HEIGHTS']
df = df[df.COMMUNITY_AREA != 'MORGAN PARK']
df = df[df.COMMUNITY_AREA != 'KENWOOD']
df = df[df.COMMUNITY_AREA != 'CLEARING']
df = df[df.COMMUNITY_AREA != 'LOWER WEST SIDE']
df = df[df.COMMUNITY_AREA != 'NEAR SOUTH SIDE']
df = df[df.COMMUNITY_AREA != 'OAKLAND'] 
df = df[df.COMMUNITY_AREA != 'PULLMAN']
df = df[df.COMMUNITY_AREA != 'WEST PULLMAN']
df = df[df.COMMUNITY_AREA != 'ARMOUR SQUARE']
df = df[df.COMMUNITY_AREA != 'UPTOWN']
df = df[df.COMMUNITY_AREA != 'WEST LAWN']
df = df[df.COMMUNITY_AREA != 'WOODLAWN']

In [10]:
df.count()

CASE_NUMBER                     17484
DATE                            17484
VICTIMIZATION_PRIMARY           17484
INCIDENT_PRIMARY                17484
GUNSHOT_INJURY_I                17484
COMMUNITY_AREA                  17484
STREET_OUTREACH_ORGANIZATION    17484
AREA                            17484
DISTRICT                        17484
BEAT                            17484
AGE                             17484
SEX                             17484
RACE                            17484
VICTIMIZATION_IUCR_SECONDARY    17484
MONTH                           17484
DAY_OF_WEEK                     17484
HOUR                            17484
LOCATION_DESCRIPTION            17484
dtype: int64

In [11]:
df.to_csv("/Users/hazelmena/Desktop/Homework/project-1/Violence_Reduction_-_Victims_of_Homicides_and_Non-Fatal_Shootings.csv", index=False)